body {
  margin: 0;
}

h1 {
  font-family: "Kyiv*Type Titling";
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-family: "Kyiv*Type Titling";
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

.header .menu {
  height: 144px;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.header .menu:first-of-type {
  padding-left: 26px;
}
.header .menu:last-of-type {
  padding-right: 52px;
}
.header .menu__item {
  font-family: "Kyiv*Type Titling";
  font-weight: normal;
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.abitur {
  background-image: url(images/abitur.png);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center bottom;
}
.abitur .message {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 464px;
  height: 331px;
  margin-left: 764px;
  margin-top: 126px;
  background-color: rgba(0, 0, 0, 0.7490196078);
  align-items: center;
}
.abitur .message__title {
  font-family: "Kyiv*Type Titling";
  color: #FFFFFF;
  font-size: 40px;
  font-weight: normal;
  margin-top: 26px;
}
.abitur .message__text {
  font-family: "Kyiv*Type Titling";
  color: #FFFFFF;
  font-size: 24px;
  font-weight: normal;
  margin-top: 26px;
  margin-left: 32px;
  margin-right: 47px;
}
.abitur .message__button {
  font-family: "Kyiv*Type Titling";
  color: #0f0f0f;
  font-size: 20px;
  font-weight: normal;
  margin-top: 26px;
  margin-left: 255px;
  border-radius: 16px;
  padding: 0 25px;
}
.abitur .message__button--link {
  text-decoration: none;
}

.education {
  height: auto;
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.education__title {
  font-family: "Kyiv*Type Titling";
  color: #0f0f0f;
  font-size: 40px;
  font-weight: normal;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.education__programs {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.education__programs .education__culumn .item-about {
  height: 500px;
  width: 350px;
  background-color: #1E1E1E;
  overflow: auto;
  box-shadow: 16px 13px #2D2D2D;
  border-radius: 5% 0% 0% 0%;
  position: relative;
}
.education__programs .education__culumn .item-about__icon {
  margin-top: 26px;
  margin-left: 33px;
}
.education__programs .education__culumn .item-about__title {
  font-family: "Kyiv*Type Titling";
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 33px;
}
.education__programs .education__culumn .item-about__text {
  margin-top: 8px;
  display: flex;
}
.education__programs .education__culumn .item-about__text--number {
  font-family: "Kyiv*Type Titling";
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
  margin-left: 33px;
  margin-right: 3px;
}
.education__programs .education__culumn .item-about__text--text {
  font-family: "Kyiv*Type Titling";
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
}
.education__programs .education__culumn .item-about__down-icon {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.choose-us {
  height: auto;
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.choose-us__title {
  font-family: "Kyiv*Type Titling";
  color: #0f0f0f;
  font-size: 40px;
  font-weight: normal;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.choose-us__dot {
  height: 227px;
  width: 227px;
  background-color: rgba(0, 0, 0, 0.7490196078);
  display: flex;
  border-radius: 50%;
  font-family: "Kyiv*Type Titling";
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  margin-top: 120px;
}
.choose-us__advantages {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-content: center;
}
.choose-us__advantages .advantages-item {
  position: relative;
  height: 328px;
  width: 575px;
  display: flex;
  z-index: 0;
}
.choose-us__advantages .advantages-item__back-image {
  width: 100%;
}
.choose-us__advantages .advantages-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7490196078);
  z-index: 1;
}
.choose-us__advantages .advantages-item__title {
  font-family: "Kyiv*Type Titling";
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
  margin-top: 51px;
  margin-left: 67px;
  position: absolute;
  z-index: 2;
}
.choose-us__advantages .advantages-item__line {
  border-top: 4px solid #FFFFFF;
  z-index: 2;
  width: 480px;
  margin-top: 97px;
  margin-left: 49px;
  position: absolute;
}
.choose-us__advantages .advantages-item__text {
  font-family: "Kyiv*Type Titling";
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  z-index: 2;
  margin-top: 119px;
  margin-left: 67px;
  margin-right: 90px;
  word-spacing: 5px;
  text-indent: 35px;
}

.events {
  height: auto;
  display: flex;
  background-image: #FFFFFF;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.events__title {
  font-family: "Kyiv*Type Titling";
  color: #0f0f0f;
  font-size: 40px;
  font-weight: normal;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.events__programs {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.events__programs .education__culumn .item-about {
  height: 328px;
  width: 249px;
  background-image: url(images/events-back.png);
  border-radius: 12px 12px 0% 0%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.events__programs .education__culumn .item-about::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7490196078);
  z-index: 0;
}
.events__programs .education__culumn .item-about__title {
  margin-top: 34px;
  font-size: 36px;
  font-weight: 700;
  font-family: "Inter";
  color: #FFFFFF;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.events__programs .education__culumn .item-about__number {
  margin-top: 32px;
  font-size: 64px;
  font-weight: 700;
  font-family: "Inter";
  color: #FFFFFF;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.events__programs .education__culumn .item-about__line {
  position: relative;
  top: -16px;
  border-top: 3px solid #FFFFFF;
  z-index: 2;
  width: auto;
  margin-left: 24px;
  margin-right: 26px;
}
.events__programs .education__culumn .item-about__time {
  font-size: 36px;
  font-weight: 700;
  font-family: "Inter";
  color: #FFFFFF;
  z-index: 1;
  display: flex;
  margin-left: 34px;
}
.events__programs .education__culumn .item-about .box {
  display: flex;
  height: 100px;
  margin-top: auto;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}
.events__programs .education__culumn .item-about__text {
  display: flex;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter";
  color: #FFFFFF;
  z-index: 1;
  margin-left: 16px;
  margin-right: 16px;
  justify-content: center;
  text-align: center;
}/*# sourceMappingURL=style.css.map */