$base-black: #0f0f0f;
$transparent-black: #000000BF;
$table-black: #1E1E1E;
$base-white: #FFFFFF;
$base-grey: #1E1E1E;
$second-grey: #2D2D2D;
$subtext-grey: #5A5A5A;

body {
    margin: 0;
}

h1 {
    font-family: 'Kyiv*Type Titling';
    color: $base-white;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;

}

h3 {
    font-family: 'Kyiv*Type Titling';
    color: $base-white;
    font-size: 28px;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}


.header {
    .menu {
        height: 144px;
        background-color: $base-black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        &:first-of-type {
            padding-left: 26px;
        }

        &:last-of-type {
            padding-right: 52px;
        }

        &__item {
            font-family: 'Kyiv*Type Titling';
            font-weight: normal;
            font-size: 20px;
            color: $base-white;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

.requirements {
    display: flex;
    flex-direction: row;
    margin: 0px 61px;
    justify-content: center;
    margin-top: 70px;
    
    .path {
        display: flex;
        flex-direction: column;
        align-items: center;

        .space1 {
            height: 379px;
            width: 0px;
            border: 2px solid $base-black;
        }

        .space2 {
            height: 552px;
            width: 0px;
            border: 2px solid $base-black;
        }

        img {
            width: 75px;
            height: 75px;
        }
    }

    .programs {
        font-family: 'Kyiv*Type Titling';

        .Title {
            font-size: 40px;
            font-weight: 300;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .term {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 33px;
            margin-right: 65px;

            .name {
                text-align: left;
                width: 635px;
            }

            .time {
                text-align: center;
                width: 270px;
            }

            .termStupin {
                border-radius: 12px;
                border-collapse: collapse;

                td {
                    border-collapse: collapse;
                    border: 1px solid black;
                    font-size: 24px;
                    font-weight: 300;
                }

                tr {
                    height: 85px;
                }

                .stupin {
                    border: none;
                    width: 141px;
                    background-color: $table-black;
                    color: $base-white;
                    font-size: 24px;
                    font-weight: 300;
                    text-align: center;

                    &-1 {
                        border: none;
                        border-radius: 12px 0px 0px 0px;
                        background-color: $table-black;
                        color: $base-white;
                        font-size: 24px;
                        font-weight: 300;
                        text-align: center;
                    }

                    &-3 {
                        border: none;
                        border-radius: 0px 0px 0px 12px;
                        background-color: $table-black;
                        color: $base-white;
                        font-size: 24px;
                        font-weight: 300;
                        text-align: center;
                    }
                }
            }
        }

        .price {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 33px;
            margin-right: 65px;

            .Title {
                margin-top: 54px;
            }

            .termStupin {
                border-radius: 12px;
                border-collapse: collapse;

                td {
                    border-collapse: collapse;
                    border: 1px solid black;
                    font-size: 24px;
                    font-weight: 300;
                }

                .cost {
                    text-align: center;
                }

                .name {
                    text-align: left;
                    width: 635px;
                }

                tr {
                    height: 85px;
                }

                .stupin {
                    border: none;
                    width: 141px;
                    background-color: $table-black;
                    color: $base-white;
                    font-size: 24px;
                    font-weight: 300;
                    text-align: center;

                    &-1 {
                        border: none;
                        border-radius: 12px 0px 0px 0px;
                        background-color: $table-black;
                        color: $base-white;
                        font-size: 24px;
                        font-weight: 300;
                        text-align: center;
                    }

                    &-3 {
                        border: none;
                        border-radius: 0px 0px 0px 12px;
                        background-color: $table-black;
                        color: $base-white;
                        font-size: 24px;
                        font-weight: 300;
                        text-align: center;
                    }
                }

                .subtext1{
                    color: $subtext-grey;
                    width: auto;
                    text-align: end;
                }

                .subtext{
                    color: $subtext-grey;
                    width: 270px;
                    text-align: center;
                }
            }
        }
    }
}